/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 12vw;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  justify-content: center;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  font-size: 14px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.logo {
  font-size: 16vw;
  color: #fff;
}
header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;
}

form label {
  font-weight: bold;
  text-align: left;
}

form label {
  margin-right: 10px;
  display: flex;
}

form div {
  display: flex;
  justify-content: space-between;
}

form select,
form input {
  display: flex;
  margin-bottom: 20px;
  width: 180px;
  justify-content: space-between;
}

/* form input {
  margin-left: 10px;
} */

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 481px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 16px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }

  form {
    flex-direction: row;
    justify-content: space-around;
  }
  form div {
    flex-direction: column;
  }
  form input {
    margin-left: 0px;
  }

  form div:last-child {
    margin-left: 0px;
  }
  .group {
    flex-direction: row;
  }
  .logo {
    font-size: 20px;
    margin-top: 30px;
  }

  #menu{
    padding-bottom: 20px;
  }

  h2 {
    font-size: 26px;
  }
}